.category-container {
    display: flex; 
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    gap: 20px;
}

.category-button {
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    background-color: white;
    border: solid black;
    padding: 8px 15px;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    width: 100%;
    max-width: 250px;
}

.category-button:hover {
    background: var(--Gradient);
    color: white;
    border: solid #F4671F;
}

.category-button:active {
    background: var(--Gradient);
    color: white;
    border: solid #F4671F;
}

.subcategory ul {
    list-style-type: none;
    font-size: 14px;
    font-weight: 500;
    font-family: Poppins;
    margin-top: 8px;
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    max-width: 250px;
}

.subcategory ul li {
    transition: all 0.2s ease;
    margin-bottom: 12px;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 4px;
    position: relative;
    white-space: normal;
    word-wrap: break-word;
}

.subcategory ul li:hover {
    color: #F4671F;
    background-color: #f9f9f9;
}

.subcategory-button.selected {
    color: #F4671F !important;
    font-weight: 700;
    border-left: 3px solid #F4671F;
    background-color: #FAF0ED;
    margin-left: 0;
    padding: 6px 12px 6px 9px;
    width: 100%;
}

.selected-category {
    background-color: #F4671F !important;
    color: white !important;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(244, 103, 31, 0.3);
}

